In [1]:
import pandas as pd

In [2]:
FN_RF = pd.read_csv("FN_RF.csv")

In [3]:
FN_RF

    Unnamed: 0 Y_predicha Y_entrenamiento Resultado
0         7176       BBB-            BBB+        FN
1         6724       BBB-            BBB+        FN
2         6339       BBB-            BBB+        FN
3         2412       BBB-            BBB+        FN
4          132       BBB-            BBB+        FN
..         ...        ...             ...       ...
73        7403       BBB-            BBB+        FN
74        7169       BBB-            BBB+        FN
75        7451       BBB-            BBB+        FN
76         432       BBB-            BBB+        FN
77        3172       BBB-            BBB+        FN

[78 rows x 4 columns]

In [4]:
FN_SVM = pd.read_csv("FN_SVM.csv")

In [5]:
FN_SVM

    Unnamed: 0 Y_predicha Y_entrenamiento Resultado
0         7176       BBB-            BBB+        FN
1         6724       BBB-            BBB+        FN
2          132       BBB-            BBB+        FN
3          641       BBB-            BBB+        FN
4         5119       BBB-            BBB+        FN
..         ...        ...             ...       ...
83        1893       BBB-            BBB+        FN
84        7169       BBB-            BBB+        FN
85        7451       BBB-            BBB+        FN
86         432       BBB-            BBB+        FN
87        3172       BBB-            BBB+        FN

[88 rows x 4 columns]

In [6]:
Falsos_N = pd.merge(FN_SVM, FN_RF, on="Unnamed: 0")

In [7]:
Falsos_N.shape[0]

56

In [8]:
Falsos_N.shape[0]/FN_RF.shape[0]*100

71.7948717948718

In [9]:
FP_SVM = pd.read_csv("FP_SVM.csv")

In [10]:
FP_RF = pd.read_csv("FP_RF.csv")

In [11]:
FP_SVM

    Unnamed: 0 Y_predicha Y_entrenamiento Resultado
0         5628       BBB+            BBB-        FP
1         5325       BBB+            BBB-        FP
2         3947       BBB+            BBB-        FP
3          101       BBB+            BBB-        FP
4         5201       BBB+            BBB-        FP
..         ...        ...             ...       ...
92        5694       BBB+            BBB-        FP
93        7723       BBB+            BBB-        FP
94        5518       BBB+            BBB-        FP
95        5489       BBB+            BBB-        FP
96        5704       BBB+            BBB-        FP

[97 rows x 4 columns]

In [12]:
FP_RF

     Unnamed: 0 Y_predicha Y_entrenamiento Resultado
0          5628       BBB+            BBB-        FP
1          3947       BBB+            BBB-        FP
2           101       BBB+            BBB-        FP
3          5712       BBB+            BBB-        FP
4          5830       BBB+            BBB-        FP
..          ...        ...             ...       ...
115        5518       BBB+            BBB-        FP
116        5860       BBB+            BBB-        FP
117        5670       BBB+            BBB-        FP
118        5489       BBB+            BBB-        FP
119        4035       BBB+            BBB-        FP

[120 rows x 4 columns]

In [13]:
Falsos_V = pd.merge(FP_SVM, FP_RF, on="Unnamed: 0")

In [14]:
Falsos_V

,Unnamed: 0,Y_predicha_x,Y_entrenamiento_x,Resultado_x,Y_predicha_y,Y_entrenamiento_y,Resultado_y
0,5628,BBB+,BBB-,FP,BBB+,BBB-,FP
1,3947,BBB+,BBB-,FP,BBB+,BBB-,FP
2,101,BBB+,BBB-,FP,BBB+,BBB-,FP
3,5712,BBB+,BBB-,FP,BBB+,BBB-,FP
4,5830,BBB+,BBB-,FP,BBB+,BBB-,FP
...,...,...,...,...,...,...,...
66,8,BBB+,BBB-,FP,BBB+,BBB-,FP
67,5694,BBB+,BBB-,FP,BBB+,BBB-,FP
68,7723,BBB+,BBB-,FP,BBB+,BBB-,FP
69,5518,BBB+,BBB-,FP,BBB+,BBB-,FP
70,5489,BBB+,BBB-,FP,BBB+,BBB-,FP

In [15]:
classification_data = pd.read_csv("../B3DB_classification.tsv",
                                  sep="\t")

In [16]:
classification_data = classification_data[["group", "SMILES"]].copy()

In [17]:
classification_data

     group                                             SMILES
0        A   O=C(O)c1cc(N=Nc2ccc(S(=O)(=O)Nc3ccccn3)cc2)ccc1O
1        A  COC1(NC(=O)C(C(=O)O)c2ccc(O)cc2)C(=O)N2C(C(=O)...
2        A                             Oc1c(I)cc(Cl)c2cccnc12
3        A                         CCNC(=NCCSCc1ncccc1Br)NC#N
4        A  CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...
...    ...                                                ...
7802     D                    c1ccc(CN(CC2=NCCN2)c2ccccc2)cc1
7803     D                   CCOCCn1c(N2CCCN(C)CC2)nc2ccccc21
7804     D               CN1CCC(=C2c3ccccc3CC(=O)c3sccc32)CC1
7805     D                     Cc1[nH]c(=O)c(C#N)cc1-c1ccncc1
7806     D                          Nc1cc(-c2ccncc2)c[nH]c1=O

[7807 rows x 2 columns]

In [18]:
Falsos_V

,Unnamed: 0,Y_predicha_x,Y_entrenamiento_x,Resultado_x,Y_predicha_y,Y_entrenamiento_y,Resultado_y
0,5628,BBB+,BBB-,FP,BBB+,BBB-,FP
1,3947,BBB+,BBB-,FP,BBB+,BBB-,FP
2,101,BBB+,BBB-,FP,BBB+,BBB-,FP
3,5712,BBB+,BBB-,FP,BBB+,BBB-,FP
4,5830,BBB+,BBB-,FP,BBB+,BBB-,FP
...,...,...,...,...,...,...,...
66,8,BBB+,BBB-,FP,BBB+,BBB-,FP
67,5694,BBB+,BBB-,FP,BBB+,BBB-,FP
68,7723,BBB+,BBB-,FP,BBB+,BBB-,FP
69,5518,BBB+,BBB-,FP,BBB+,BBB-,FP
70,5489,BBB+,BBB-,FP,BBB+,BBB-,FP

In [19]:
classification_data_index = classification_data.reset_index().rename(columns={"index":"Unnamed: 0"})

In [20]:
classification_data_index

      Unnamed: 0 group                                             SMILES
0              0     A   O=C(O)c1cc(N=Nc2ccc(S(=O)(=O)Nc3ccccn3)cc2)ccc1O
1              1     A  COC1(NC(=O)C(C(=O)O)c2ccc(O)cc2)C(=O)N2C(C(=O)...
2              2     A                             Oc1c(I)cc(Cl)c2cccnc12
3              3     A                         CCNC(=NCCSCc1ncccc1Br)NC#N
4              4     A  CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...
...          ...   ...                                                ...
7802        7802     D                    c1ccc(CN(CC2=NCCN2)c2ccccc2)cc1
7803        7803     D                   CCOCCn1c(N2CCCN(C)CC2)nc2ccccc21
7804        7804     D               CN1CCC(=C2c3ccccc3CC(=O)c3sccc32)CC1
7805        7805     D                     Cc1[nH]c(=O)c(C#N)cc1-c1ccncc1
7806        7806     D                          Nc1cc(-c2ccncc2)c[nH]c1=O

[7807 rows x 3 columns]

In [21]:
FP_grupos = pd.merge(classification_data_index, Falsos_V, on="Unnamed: 0")

In [22]:
FP_grupos["group"].value_counts()

group
C    36
B    21
A     9
D     5
Name: count, dtype: int64

In [23]:
FN_grupos = pd.merge(classification_data_index, Falsos_N, on="Unnamed: 0")

In [24]:
FN_grupos["group"].value_counts()

group
C    33
A    13
B    10
Name: count, dtype: int64

In [25]:
FN_grupos.head()

,Unnamed: 0,group,SMILES,Y_predicha_x,Y_entrenamiento_x,Resultado_x,Y_predicha_y,Y_entrenamiento_y,Resultado_y
0,131,A,CCC(NC(=O)c1c(OCC(=O)O)c(-c2ccccc2)nc2ccccc12)...,BBB-,BBB+,FN,BBB-,BBB+,FN
1,132,A,CCOC(=O)C1=C[C@@H](OC(CC)CC)[C@@H](NCOC)[C@@H]...,BBB-,BBB+,FN,BBB-,BBB+,FN
2,167,A,COc1cccc2c1C(=O)c1c(O)c3c(c(O)c1C2=O)CC(O)(C(=...,BBB-,BBB+,FN,BBB-,BBB+,FN
3,168,A,COc1cccc2c1C(=O)c1c(O)c3c(c(O)c1C2=O)C[C@@](O)...,BBB-,BBB+,FN,BBB-,BBB+,FN
4,169,A,COc1ccc2nc([S+]([O-])Cc3ncc(C)c(OC)c3C)[nH]c2c1,BBB-,BBB+,FN,BBB-,BBB+,FN

In [26]:
FN_grupos["Tipo"] = "FN"

In [27]:
FN_grupos = FN_grupos[["group", "SMILES", "Tipo"]]

In [28]:
FP_grupos["Tipo"] = "FP"

In [29]:
FP_grupos = FP_grupos[["group", "SMILES", "Tipo"]]

In [30]:
FP_grupos.shape

(71, 3)

In [31]:
FN_grupos.shape

(56, 3)

In [32]:
FP_grupos.to_csv("FP_grupos.csv")

In [33]:
FN_grupos.to_csv("FN_grupos.csv")

In [34]:
grupos_final = pd.concat((FN_grupos,FP_grupos), axis=0)

In [36]:
grupos_final

   group                                             SMILES Tipo
0      A  CCC(NC(=O)c1c(OCC(=O)O)c(-c2ccccc2)nc2ccccc12)...   FN
1      A  CCOC(=O)C1=C[C@@H](OC(CC)CC)[C@@H](NCOC)[C@@H]...   FN
2      A  COc1cccc2c1C(=O)c1c(O)c3c(c(O)c1C2=O)CC(O)(C(=...   FN
3      A  COc1cccc2c1C(=O)c1c(O)c3c(c(O)c1C2=O)C[C@@](O)...   FN
4      A    COc1ccc2nc([S+]([O-])Cc3ncc(C)c(OC)c3C)[nH]c2c1   FN
..   ...                                                ...  ...
66     D  CC1(C)NC(=O)N(c2ccc([N+](=O)[O-])c(C(F)(F)F)c2...   FP
67     D         CCCCNc1cc(C(=O)O)cc(S(N)(=O)=O)c1Oc1ccccc1   FP
68     D                        CN(C(=O)C(Cl)Cl)c1ccc(O)cc1   FP
69     D                 Clc1ccc2c(c1)CCc1cccnc1C2=C1CCNCC1   FP
70     D                                      Cn1cc[nH]c1=S   FP

[127 rows x 3 columns]

In [37]:
grupos_final.to_csv("grupos_final.csv")