In [1]:
import pandas as pd

In [2]:
EGFR = pd.read_csv("EGFR_limpio.csv")

In [3]:
ESR1 = pd.read_csv("ESR1_limpio.csv")

In [4]:
MAPK1 = pd.read_csv("MAPK1_limpio.csv")

In [7]:
SRC = pd.read_csv("SRC_limpio.csv")

In [8]:
STAT3 = pd.read_csv("STAT3_limpio.csv")

In [9]:
EGFR.head()

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL65848,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',4320.0,nM
1,CHEMBL431977,NaN,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',1.0,nM
2,CHEMBL420609,NaN,COc1ccc2c(c1)NC(=O)/C2=C\c1[nH]c2c(c1CCC(=O)O)...,IC50,'>',100000.0,nM
3,CHEMBL78257,TYRPHOSTIN 51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',800.0,nM
4,CHEMBL69960,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',170.0,nM

In [12]:
EGFR_col = EGFR[["Molecule ChEMBL ID", "Standard Value"]]

In [13]:
ESR1_col = ESR1[["Molecule ChEMBL ID", "Standard Value"]]

In [14]:
MAPK1_col = MAPK1[["Molecule ChEMBL ID", "Standard Value"]]

In [15]:
SRC_col = SRC[["Molecule ChEMBL ID", "Standard Value"]]

In [16]:
STAT3_col = STAT3[["Molecule ChEMBL ID", "Standard Value"]]

In [25]:
merge = pd.merge(EGFR_col, ESR1_col, on="Molecule ChEMBL ID", suffixes=('_EGFR', '_ESR1'))

In [27]:
merge

  Molecule ChEMBL ID  Standard Value_EGFR  Standard Value_ESR1
0           CHEMBL44               1000.0              580.000
1           CHEMBL83               3553.0               24.550
2       CHEMBL195437              16219.0            27674.000
3       CHEMBL319244               1005.0             7912.000
4      CHEMBL4558162              10000.0            20000.000
5          CHEMBL954               1050.0                4.564
6       CHEMBL290106                614.0             3940.880
7          CHEMBL496                748.6             2161.560
8        CHEMBL45068           25000000.0              300.000

In [30]:
merge_EGFR_ESR1_MAPK1= pd.merge(merge, MAPK1_col, on="Molecule ChEMBL ID")

In [69]:
merge_EGFR_ESR1_MAPK1.rename(columns={"Standard Value":"Standard Value_MAPK1"}, inplace=True)

In [39]:
merge = pd.merge(EGFR_col, MAPK1_col, on="Molecule ChEMBL ID", suffixes=('_EGFR', '_MAPK1'))

In [40]:
merge

    Molecule ChEMBL ID  Standard Value_EGFR  Standard Value_MAPK1
0        CHEMBL2178352                  0.4               10000.0
1          CHEMBL24944               2987.0                 623.0
2        CHEMBL4276946             100000.0              100000.0
3        CHEMBL3884319              10000.0                1826.0
4         CHEMBL380889                 75.0               10000.0
..                 ...                  ...                   ...
158      CHEMBL4446681              10000.0               66000.0
159      CHEMBL4569508               1100.0               12000.0
160      CHEMBL4520788              20000.0                4570.0
161      CHEMBL4097778               1000.0                1000.0
162      CHEMBL4535474              20000.0                 180.0

[163 rows x 3 columns]

In [41]:
merge_EGFR_MAPK1_SRC = pd.merge(merge, SRC_col, on="Molecule ChEMBL ID")

In [68]:
merge_EGFR_MAPK1_SRC.rename(columns={"Standard Value":"Standard Value_SRC"}, inplace=True)

In [44]:
merge = pd.merge(EGFR_col, SRC_col, on="Molecule ChEMBL ID", suffixes=('_EGFR', '_SRC'))

In [45]:
merge

    Molecule ChEMBL ID  Standard Value_EGFR  Standard Value_SRC
0         CHEMBL420609             100000.0             1390.00
1          CHEMBL29197                 70.0             1400.00
2           CHEMBL7339               1270.0           100000.00
3         CHEMBL253292                380.0               66.00
4         CHEMBL301612                260.0               16.00
..                 ...                  ...                 ...
906       CHEMBL311959              27000.0              200.00
907       CHEMBL475584                150.0               19.95
908      CHEMBL4097778               1000.0             1000.00
909      CHEMBL5176684              10000.0            10000.00
910      CHEMBL5267342               1000.0             1000.00

[911 rows x 3 columns]

In [46]:
merge_EGFR_SRC_STAT3 = pd.merge(merge, STAT3_col, on="Molecule ChEMBL ID")

In [47]:
merge_EGFR_SRC_STAT3.rename(columns={"Standard Value":"Standard Value_STAT3"})

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Standard Value_STAT3
0,CHEMBL44,1000.0,75000.0,24800.0
1,CHEMBL504547,10000.0,30000.0,1700.0
2,CHEMBL1448,10500.0,10500.0,250.0
3,CHEMBL5177956,10000.0,10000.0,5.3
4,CHEMBL5176684,10000.0,10000.0,27.8

In [49]:
merge_EGFR_MAPK1_SRC

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value
0,CHEMBL2178352,0.4,10000.0,290.0
1,CHEMBL4276946,100000.0,100000.0,100000.0
2,CHEMBL3884319,10000.0,1826.0,668.0
3,CHEMBL380889,75.0,10000.0,10000.0
4,CHEMBL382638,90.0,10000.0,10000.0
...,...,...,...,...
90,CHEMBL3651966,10000.0,10000.0,10000.0
91,CHEMBL4568087,340.0,230.0,3.0
92,CHEMBL4446681,10000.0,66000.0,8800.0
93,CHEMBL4569508,1100.0,12000.0,37.0
94,CHEMBL4097778,1000.0,1000.0,1000.0

In [50]:
merge_EGFR_ESR1_MAPK1

  Molecule ChEMBL ID  Standard Value_EGFR  Standard Value_ESR1  Standard Value
0       CHEMBL319244               1005.0              7912.00           686.0
1       CHEMBL290106                614.0              3940.88           385.0
2          CHEMBL496                748.6              2161.56           196.0

In [63]:
merge_EGFR_SRC_STAT3.rename(columns={"Standard Value":"Standard Value_STAT3"}, inplace=True)

In [64]:
merge_EGFR_SRC_STAT3

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Standard Value_STAT3,Actividad_EGFR,Actividad_SRC
0,CHEMBL44,1000.0,75000.0,24800.0,1,0
1,CHEMBL504547,10000.0,30000.0,1700.0,0,0
2,CHEMBL1448,10500.0,10500.0,250.0,0,0
3,CHEMBL5177956,10000.0,10000.0,5.3,0,0
4,CHEMBL5176684,10000.0,10000.0,27.8,0,0

In [52]:
def inhibidor(IC50):
    if IC50 > 1000:
        return 0
    else:
        return 1

In [65]:
merge_EGFR_SRC_STAT3["Actividad_EGFR"] = merge_EGFR_SRC_STAT3["Standard Value_EGFR"].apply(inhibidor)
merge_EGFR_SRC_STAT3["Actividad_SRC"] = merge_EGFR_SRC_STAT3["Standard Value_SRC"].apply(inhibidor)
merge_EGFR_SRC_STAT3["Actividad_STAT3"] = merge_EGFR_SRC_STAT3["Standard Value_STAT3"].apply(inhibidor)

In [66]:
merge_EGFR_SRC_STAT3

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Standard Value_STAT3,Actividad_EGFR,Actividad_SRC,Actividad_STAT3
0,CHEMBL44,1000.0,75000.0,24800.0,1,0,0
1,CHEMBL504547,10000.0,30000.0,1700.0,0,0,0
2,CHEMBL1448,10500.0,10500.0,250.0,0,0,1
3,CHEMBL5177956,10000.0,10000.0,5.3,0,0,1
4,CHEMBL5176684,10000.0,10000.0,27.8,0,0,1

In [72]:
merge_EGFR_ESR1_MAPK1["Actividad_EGFR"] = merge_EGFR_ESR1_MAPK1["Standard Value_EGFR"].apply(inhibidor)
merge_EGFR_ESR1_MAPK1["Actividad_ESR1"] = merge_EGFR_ESR1_MAPK1["Standard Value_ESR1"].apply(inhibidor)
merge_EGFR_ESR1_MAPK1["Actividad_MAPK1"] = merge_EGFR_ESR1_MAPK1["Standard Value_MAPK1"].apply(inhibidor)

In [73]:
merge_EGFR_ESR1_MAPK1

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_ESR1,Standard Value_MAPK1,Actividad_EGFR,Actividad_ESR1,Actividad_MAPK1
0,CHEMBL319244,1005.0,7912.00,686.0,0,0,1
1,CHEMBL290106,614.0,3940.88,385.0,1,0,1
2,CHEMBL496,748.6,2161.56,196.0,1,0,1

In [76]:
merge_EGFR_MAPK1_SRC["Actividad_EGFR"] = merge_EGFR_MAPK1_SRC["Standard Value_EGFR"].apply(inhibidor)
merge_EGFR_MAPK1_SRC["Actividad_MAPK1"] = merge_EGFR_MAPK1_SRC["Standard Value_MAPK1"].apply(inhibidor)
merge_EGFR_MAPK1_SRC["Actividad_SRC"] = merge_EGFR_MAPK1_SRC["Standard Value_SRC"].apply(inhibidor)

In [77]:
merge_EGFR_MAPK1_SRC

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value_SRC,Actividad_EGFR,Actividad_MAPK1,Actividad_SRC
0,CHEMBL2178352,0.4,10000.0,290.0,1,0,1
1,CHEMBL4276946,100000.0,100000.0,100000.0,0,0,0
2,CHEMBL3884319,10000.0,1826.0,668.0,0,0,1
3,CHEMBL380889,75.0,10000.0,10000.0,1,0,0
4,CHEMBL382638,90.0,10000.0,10000.0,1,0,0
...,...,...,...,...,...,...,...
90,CHEMBL3651966,10000.0,10000.0,10000.0,0,0,0
91,CHEMBL4568087,340.0,230.0,3.0,1,1,1
92,CHEMBL4446681,10000.0,66000.0,8800.0,0,0,0
93,CHEMBL4569508,1100.0,12000.0,37.0,0,0,1
94,CHEMBL4097778,1000.0,1000.0,1000.0,1,1,1

In [83]:
inhibidores = merge_EGFR_MAPK1_SRC[(merge_EGFR_MAPK1_SRC["Actividad_EGFR"] == 1) & (merge_EGFR_MAPK1_SRC["Actividad_MAPK1"] == 1) & (merge_EGFR_MAPK1_SRC["Actividad_SRC"] == 1)]

In [81]:
merge_EGFR_ESR1_MAPK1

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_ESR1,Standard Value_MAPK1,Actividad_EGFR,Actividad_ESR1,Actividad_MAPK1
0,CHEMBL319244,1005.0,7912.00,686.0,0,0,1
1,CHEMBL290106,614.0,3940.88,385.0,1,0,1
2,CHEMBL496,748.6,2161.56,196.0,1,0,1

In [82]:
merge_EGFR_SRC_STAT3

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Standard Value_STAT3,Actividad_EGFR,Actividad_SRC,Actividad_STAT3
0,CHEMBL44,1000.0,75000.0,24800.0,1,0,0
1,CHEMBL504547,10000.0,30000.0,1700.0,0,0,0
2,CHEMBL1448,10500.0,10500.0,250.0,0,0,1
3,CHEMBL5177956,10000.0,10000.0,5.3,0,0,1
4,CHEMBL5176684,10000.0,10000.0,27.8,0,0,1

In [84]:
inhibidores.shape

(12, 7)

In [87]:
inhibidores_ID = inhibidores["Molecule ChEMBL ID"]

In [88]:
pd.merge(inhibidores_ID, EGFR, on="Molecule ChEMBL ID")

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL388978,STAUROSPORINE,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,IC50,'=',78.0,nM
1,CHEMBL4873571,NaN,CC(C)n1cc(C(=O)Nc2ccc(Oc3ccnc(NC(=O)C4CC4)c3)c...,IC50,'>',1000.0,nM
2,CHEMBL4474690,NaN,COc1cc(C2CN(C(=O)c3cc(COC[C@@H](O)CO)ccn3)C2)c...,IC50,'>',1000.0,nM
3,CHEMBL3798631,NaN,CC(NC(=O)c1ccc2[nH]nc(-c3ccncc3)c2c1)c1cccc(Cl)c1,IC50,'>',1000.0,nM
4,CHEMBL1090360,NaN,O=C(Cc1ccccc1)Nc1cccc(-c2nc3sccn3c2-c2ccnc(Nc3...,IC50,'=',610.0,nM
5,CHEMBL3798257,NaN,Cc1cc(-c2n[nH]c3ccc(C(=O)NC(C)c4c(Cl)cncc4Cl)c...,IC50,'>',1000.0,nM
6,CHEMBL4062877,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',5.3,nM
7,CHEMBL4105329,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',3.1,nM
8,CHEMBL4067871,NaN,OC[C@H](Nc1cnc(-c2cc(Cl)ccc2O)c(-c2ccc3cnccc3c...,IC50,'=',4.2,nM
9,CHEMBL4075917,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',8.1,nM
10,CHEMBL4568087,NaN,Cn1cc(-c2cnc3c(-c4csc(C(=O)N[C@@H]5CCCC[C@@H]5...,IC50,'=',340.0,nM
11,CHEMBL4097778,TP-030n,CN1C(=O)[C@@H](N2CCc3cn(CC4CCS(=O)(=O)CC4)nc3C...,IC50,NaN,1000.0,nM

In [89]:
pd.merge(inhibidores_ID, MAPK1, on="Molecule ChEMBL ID")

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL388978,STAUROSPORINE,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,IC50,'=',370.0,nM
1,CHEMBL4873571,NaN,CC(C)n1cc(C(=O)Nc2ccc(Oc3ccnc(NC(=O)C4CC4)c3)c...,IC50,'>',1000.0,nM
2,CHEMBL4474690,NaN,COc1cc(C2CN(C(=O)c3cc(COC[C@@H](O)CO)ccn3)C2)c...,IC50,'>',1000.0,nM
3,CHEMBL3798631,NaN,CC(NC(=O)c1ccc2[nH]nc(-c3ccncc3)c2c1)c1cccc(Cl)c1,IC50,'=',53.1,nM
4,CHEMBL1090360,NaN,O=C(Cc1ccccc1)Nc1cccc(-c2nc3sccn3c2-c2ccnc(Nc3...,IC50,'>',1000.0,nM
5,CHEMBL3798257,NaN,Cc1cc(-c2n[nH]c3ccc(C(=O)NC(C)c4c(Cl)cncc4Cl)c...,IC50,'=',16.7,nM
6,CHEMBL4062877,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',574.7,nM
7,CHEMBL4105329,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',960.2,nM
8,CHEMBL4067871,NaN,OC[C@H](Nc1cnc(-c2cc(Cl)ccc2O)c(-c2ccc3cnccc3c...,IC50,'>',1000.0,nM
9,CHEMBL4075917,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'>',1000.0,nM
10,CHEMBL4568087,NaN,Cn1cc(-c2cnc3c(-c4csc(C(=O)N[C@@H]5CCCC[C@@H]5...,IC50,'=',230.0,nM
11,CHEMBL4097778,TP-030n,CN1C(=O)[C@@H](N2CCc3cn(CC4CCS(=O)(=O)CC4)nc3C...,IC50,NaN,1000.0,nM

In [90]:
pd.merge(inhibidores_ID, SRC, on="Molecule ChEMBL ID")

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL388978,STAUROSPORINE,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,IC50,'=',9.7,nM
1,CHEMBL4873571,NaN,CC(C)n1cc(C(=O)Nc2ccc(Oc3ccnc(NC(=O)C4CC4)c3)c...,IC50,'>',1000.0,nM
2,CHEMBL4474690,NaN,COc1cc(C2CN(C(=O)c3cc(COC[C@@H](O)CO)ccn3)C2)c...,IC50,'>',1000.0,nM
3,CHEMBL3798631,NaN,CC(NC(=O)c1ccc2[nH]nc(-c3ccncc3)c2c1)c1cccc(Cl)c1,IC50,'>',1000.0,nM
4,CHEMBL1090360,NaN,O=C(Cc1ccccc1)Nc1cccc(-c2nc3sccn3c2-c2ccnc(Nc3...,IC50,'=',310.0,nM
5,CHEMBL3798257,NaN,Cc1cc(-c2n[nH]c3ccc(C(=O)NC(C)c4c(Cl)cncc4Cl)c...,IC50,'>',1000.0,nM
6,CHEMBL4062877,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',5.7,nM
7,CHEMBL4105329,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',3.9,nM
8,CHEMBL4067871,NaN,OC[C@H](Nc1cnc(-c2cc(Cl)ccc2O)c(-c2ccc3cnccc3c...,IC50,'=',6.4,nM
9,CHEMBL4075917,NaN,Cc1n[nH]c2ccc(-c3cc(N[C@@H](CO)c4ccccc4)cnc3-c...,IC50,'=',6.0,nM
10,CHEMBL4568087,NaN,Cn1cc(-c2cnc3c(-c4csc(C(=O)N[C@@H]5CCCC[C@@H]5...,IC50,'=',3.0,nM
11,CHEMBL4097778,TP-030n,CN1C(=O)[C@@H](N2CCc3cn(CC4CCS(=O)(=O)CC4)nc3C...,IC50,NaN,1000.0,nM

In [91]:
inhibidores

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value_SRC,Actividad_EGFR,Actividad_MAPK1,Actividad_SRC
13,CHEMBL388978,78.0,370.0,9.7,1,1,1
27,CHEMBL4873571,1000.0,1000.0,1000.0,1,1,1
37,CHEMBL4474690,1000.0,1000.0,1000.0,1,1,1
47,CHEMBL3798631,1000.0,53.1,1000.0,1,1,1
62,CHEMBL1090360,610.0,1000.0,310.0,1,1,1
71,CHEMBL3798257,1000.0,16.7,1000.0,1,1,1
80,CHEMBL4062877,5.3,574.7,5.7,1,1,1
82,CHEMBL4105329,3.1,960.2,3.9,1,1,1
83,CHEMBL4067871,4.2,1000.0,6.4,1,1,1
87,CHEMBL4075917,8.1,1000.0,6.0,1,1,1
91,CHEMBL4568087,340.0,230.0,3.0,1,1,1
94,CHEMBL4097778,1000.0,1000.0,1000.0,1,1,1

In [92]:
inhibidores.to_csv("Triples_inhibidores.csv")

In [95]:
merge_EGFR_MAPK1_SRC

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value_SRC,Actividad_EGFR,Actividad_MAPK1,Actividad_SRC
0,CHEMBL2178352,0.4,10000.0,290.0,1,0,1
1,CHEMBL4276946,100000.0,100000.0,100000.0,0,0,0
2,CHEMBL3884319,10000.0,1826.0,668.0,0,0,1
3,CHEMBL380889,75.0,10000.0,10000.0,1,0,0
4,CHEMBL382638,90.0,10000.0,10000.0,1,0,0
...,...,...,...,...,...,...,...
90,CHEMBL3651966,10000.0,10000.0,10000.0,0,0,0
91,CHEMBL4568087,340.0,230.0,3.0,1,1,1
92,CHEMBL4446681,10000.0,66000.0,8800.0,0,0,0
93,CHEMBL4569508,1100.0,12000.0,37.0,0,0,1
94,CHEMBL4097778,1000.0,1000.0,1000.0,1,1,1

In [96]:
merge_nuevo = merge_EGFR_MAPK1_SRC[["Molecule ChEMBL ID", "Standard Value_EGFR", "Standard Value_MAPK1", "Standard Value_SRC"]]

In [97]:
merge_nuevo

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value_SRC
0,CHEMBL2178352,0.4,10000.0,290.0
1,CHEMBL4276946,100000.0,100000.0,100000.0
2,CHEMBL3884319,10000.0,1826.0,668.0
3,CHEMBL380889,75.0,10000.0,10000.0
4,CHEMBL382638,90.0,10000.0,10000.0
...,...,...,...,...
90,CHEMBL3651966,10000.0,10000.0,10000.0
91,CHEMBL4568087,340.0,230.0,3.0
92,CHEMBL4446681,10000.0,66000.0,8800.0
93,CHEMBL4569508,1100.0,12000.0,37.0
94,CHEMBL4097778,1000.0,1000.0,1000.0

In [99]:
def inhibidor_riguroso(IC50):
    if IC50 < 1000:
        return 1
    else:
        return 0

In [102]:
merge_nuevo["Actividad_EGFR"] = merge_nuevo["Standard Value_EGFR"].apply(inhibidor_riguroso)
merge_nuevo["Actividad_MAPK1"] = merge_nuevo["Standard Value_MAPK1"].apply(inhibidor_riguroso)
merge_nuevo["Actividad_SRC"] = merge_nuevo["Standard Value_SRC"].apply(inhibidor_riguroso)

C:\Users\Eliud\AppData\Local\Temp\ipykernel_6064\2974085180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_nuevo["Actividad_EGFR"] = merge_nuevo["Standard Value_EGFR"].apply(inhibidor_riguroso)
C:\Users\Eliud\AppData\Local\Temp\ipykernel_6064\2974085180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_nuevo["Actividad_MAPK1"] = merge_nuevo["Standard Value_MAPK1"].apply(inhibidor_riguroso)

In [105]:
inhibidores_rigurosos = merge_nuevo[(merge_nuevo["Actividad_EGFR"] == 1) & (merge_nuevo["Actividad_MAPK1"] == 1) & (merge_nuevo["Actividad_SRC"] == 1)]

In [106]:
inhibidores_rigurosos.to_csv("Inhibidores_rigurosos.csv")

In [108]:
inhibidores_duales_rigurosos = merge_nuevo[(((merge_nuevo["Actividad_EGFR"] == 1) & (merge_nuevo["Actividad_MAPK1"] == 1)) | ((merge_nuevo["Actividad_EGFR"] == 1) & (merge_nuevo["Actividad_SRC"] == 1)) | ((merge_nuevo["Actividad_MAPK1"] == 1) & (merge_nuevo["Actividad_SRC"] == 1)))]

In [109]:
inhibidores_duales_rigurosos

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_MAPK1,Standard Value_SRC,Actividad_EGFR,Actividad_MAPK1,Actividad_SRC
0,CHEMBL2178352,0.4,10000.0,290.00,1,0,1
13,CHEMBL388978,78.0,370.0,9.70,1,1,1
24,CHEMBL569880,11.0,10000.0,100.00,1,0,1
25,CHEMBL571040,24.0,10000.0,800.00,1,0,1
44,CHEMBL1336,50000.0,109.5,390.00,0,1,1
54,CHEMBL4798527,651.0,10000.0,3.00,1,0,1
62,CHEMBL1090360,610.0,1000.0,310.00,1,0,1
67,CHEMBL1684800,101.4,11380.0,4.79,1,0,1
80,CHEMBL4062877,5.3,574.7,5.70,1,1,1
82,CHEMBL4105329,3.1,960.2,3.90,1,1,1
83,CHEMBL4067871,4.2,1000.0,6.40,1,0,1
87,CHEMBL4075917,8.1,1000.0,6.00,1,0,1
91,CHEMBL4568087,340.0,230.0,3.00,1,1,1

In [110]:
inhibidores_duales_rigurosos.to_csv("Inhibidores_duales_rigurosos.csv")