In [1]:
import pandas as pd

In [2]:
import os

# Obtener el directorio actual
current_directory = os.getcwd()

print("El directorio actual es:", current_directory)

El directorio actual es: c:\Users\Eliud\Desktop\Python\Visual\Proyecto\Analisis

In [3]:
EGFR = pd.read_csv("../Limpieza_datos/Limpios/EGFR_limpio.csv")

In [4]:
SRC = pd.read_csv("../Limpieza_datos/Limpios/SRC_limpio.csv")

In [5]:
EGFR

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL65848,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',4320.00,nM
1,CHEMBL431977,NaN,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',1.00,nM
2,CHEMBL420609,NaN,COc1ccc2c(c1)NC(=O)/C2=C\c1[nH]c2c(c1CCC(=O)O)...,IC50,'>',100000.00,nM
3,CHEMBL78257,TYRPHOSTIN 51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',800.00,nM
4,CHEMBL69960,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',170.00,nM
...,...,...,...,...,...,...,...
9715,CHEMBL5179954,NaN,Cc1cc(Nc2ncnc3ccc(NC(=O)/C=C/[C@H]4CCCN4C)cc23...,IC50,'=',1.19,nM
9716,CHEMBL5180965,NaN,Cc1cc(Nc2ncnc3cc(O)c(NC(=O)/C=C/[C@H]4CCCN4C)c...,IC50,'=',22.75,nM
9717,CHEMBL5202863,NaN,COc1cc2cnnc(N[C@H](C)c3cccc(C(F)(F)F)c3C)c2cc1OC,IC50,'>',10000.00,nM
9718,CHEMBL5275712,NaN,C=CC(=O)Nc1cc(Nc2ncc(C(=O)OCC)c(-c3cn4c5c(cccc...,IC50,'=',32.00,nM
9719,CHEMBL5266798,NaN,C=CC(=O)Nc1cc(Nc2ncc(C(=O)OC(C)C)c(-c3cn(CC)c4...,IC50,'=',24.00,nM

In [7]:
EGFR_col = EGFR[["Molecule ChEMBL ID", "Standard Value"]]

In [8]:
SRC_col = SRC[["Molecule ChEMBL ID", "Standard Value"]]

In [10]:
merge = pd.merge(EGFR_col, SRC_col, on="Molecule ChEMBL ID", suffixes=('_EGFR', '_SRC'))

In [11]:
merge

    Molecule ChEMBL ID  Standard Value_EGFR  Standard Value_SRC
0         CHEMBL420609             100000.0             1390.00
1          CHEMBL29197                 70.0             1400.00
2           CHEMBL7339               1270.0           100000.00
3         CHEMBL253292                380.0               66.00
4         CHEMBL301612                260.0               16.00
..                 ...                  ...                 ...
906       CHEMBL311959              27000.0              200.00
907       CHEMBL475584                150.0               19.95
908      CHEMBL4097778               1000.0             1000.00
909      CHEMBL5176684              10000.0            10000.00
910      CHEMBL5267342               1000.0             1000.00

[911 rows x 3 columns]

In [23]:
def inhibidor(IC50):
    if IC50 < 1000:
        return 1
    else:
        return 0

In [24]:
merge["Actividad_EGFR"] = merge["Standard Value_EGFR"].apply(inhibidor)
merge["Actividad_SRC"] = merge["Standard Value_SRC"].apply(inhibidor)

In [25]:
merge

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Actividad_EGFR,Actividad_SRC
0,CHEMBL420609,100000.0,1390.00,0,0
1,CHEMBL29197,70.0,1400.00,1,0
2,CHEMBL7339,1270.0,100000.00,0,0
3,CHEMBL253292,380.0,66.00,1,1
4,CHEMBL301612,260.0,16.00,1,1
...,...,...,...,...,...
906,CHEMBL311959,27000.0,200.00,0,1
907,CHEMBL475584,150.0,19.95,1,1
908,CHEMBL4097778,1000.0,1000.00,0,0
909,CHEMBL5176684,10000.0,10000.00,0,0
910,CHEMBL5267342,1000.0,1000.00,0,0

In [28]:
merge[(merge["Actividad_EGFR"] == 1) & (merge["Actividad_SRC"] == 1)]

,Molecule ChEMBL ID,Standard Value_EGFR,Standard Value_SRC,Actividad_EGFR,Actividad_SRC
3,CHEMBL253292,3.800000e+02,66.00,1,1
4,CHEMBL301612,2.600000e+02,16.00,1,1
6,CHEMBL45827,2.400000e+02,44.00,1,1
7,CHEMBL263528,1.700000e+02,1.00,1,1
8,CHEMBL2178352,4.000000e-01,290.00,1,1
...,...,...,...,...,...
891,CHEMBL3040861,2.000000e+00,32.00,1,1
900,CHEMBL3109738,1.000000e+01,11.00,1,1
901,CHEMBL5073622,5.012000e-09,630.96,1,1
904,CHEMBL5271284,1.970000e+02,33.50,1,1
907,CHEMBL475584,1.500000e+02,19.95,1,1

In [30]:
merge["Actividad_EGFR"].value_counts()

Actividad_EGFR
0    641
1    270
Name: count, dtype: int64

In [31]:
merge["Actividad_SRC"].value_counts()

Actividad_SRC
0    563
1    348
Name: count, dtype: int64

In [32]:
print(152/270)

0.562962962962963

In [33]:
print(152/348)

0.4367816091954023